<div class="navbar navbar-default" ng-controller="MenuCtrl">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
				日常業務
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="javascript:void(0)" ng-click="showPurchaseManagement()">
						仕入管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showSalesManagement()">
						売上管理
					</a>
				</li>

				<li class="divider"></li>

			</ul>
		</li>
		<li>
			<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
				マスター管理
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="javascript:void(0)" ng-click="showStoreManagement()">
						店舗管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showRole()">
						役割管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showEmployeeManagement()">
						従業員管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showItemOfExpense()">
						費目管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showItem()">
						品目管理
					</a>
				</li>
				<li>
					<a href="javascript:void(0)" ng-click="showVendor()">
						仕入先管理
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>