<div class="container">

	<div class="row col-sm-12" ng-include="'views/templates/menu.html'"></div>

	<div class="row col-sm-12" ng-controller="StoreManagementCtrl">

		<div class="row col-sm-12 btn-group">
			<button type="button" class="btn btn-primary" ng-click="showStoreDialog()">
				<span class="glyphicon glyphicon-plus-sign"></span>
				追加
			</button>
		</div>

		<div class="row col-sm-12 table-responsive">

			<table id="storeTable" class="table table-striped table-hover">

				<thead>
					<tr>
						<th>
							店舗コード
						</th>
						<th>
							店舗名
						</th>
						<th>
							&#12288;
						</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="tenpoItem in tenpoItems"
						 ng-click="setSelected(tenpoItem)"
						 ng-dblclick="showEditStoreDialog()"
						 ng-class="{success : tenpoItem == selectedRow}">
						<td>
							{{tenpoItem.storeCd}}
						</td>
						<td>
							{{tenpoItem.storeName}}
						</td>
						<td class="text-center">
							<a href="javascript:void(0)" class="btn btn-success" ng-click="showEditStoreDialog(tenpoItem)">
								<span class="glyphicon glyphicon-pencil"></span>
							</a>
							<a href="javascript:void(0)" class="btn btn-danger"
							   rt-alert-click="deleteTenpoRow($index)"
							   rt-alert-message="店舗({{tenpoItem.storeName}})を削除しますか？">
								<span class="glyphicon glyphicon-remove"></span>
							</a>
						</td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>

</div>